--find-links https://download.pytorch.org/whl/cu102/torch_stable.html

numpy
scipy
scikit-learn
sphinx
mlflow
pytest
google-cloud-storage
tqdm
sphinx_rtd_theme
ipykernel
pandas
Pillow
matplotlib
bs4
lxml
click
torch==1.10.0+cu102
torchvision==0.11.1+cu102
torchaudio===0.10.0+cu102
ipympl
scikit-image
pytorch-lightning
imageio