--find-links https://download.pytorch.org/whl/cu121

numpy
scipy
scikit-learn
sphinx
mlflow
pytest
google-cloud-storage
tqdm
sphinx_rtd_theme
ipykernel
pandas
Pillow
matplotlib
bs4
lxml
click
torch
torchvision
torchaudio
ipympl
scikit-image
pytorch-lightning
imageio
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
opencv-python
networkx
ray[tune]
gputil
seaborn
class-resolver